/* Stylus declarations go here */

.jumbotron
	background-color: #880e4f

.text-red
	color: #ee6e73

.text-grey
	color: #616161

body
	background: #fafafa

.div1
	background-color: #ee6e73

.text-white
	color: #ffffff

.text-blue
	color: #4db6ac

.text-purple
	color: #880e4f